html{
	width:100vw;
	height:100vh;
	padding:0;
	margin:0;
	border:0;
	outline:0;
	vertical-align:baseline
}

*:not(html):not(body):not(.setWrapper):not(#set):not(.pageBlock){
	border-radius:5px;
}

body{
	overflow:hidden;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#000
}

textarea{
	resize:none
}

.setWrapper{
	overflow:hidden;
	position:absolute;
	top:0vh;
	left:0vw;
	width:100%;
	height:100%;
}

#set{
	position:absolute;
	width:194%;
	height:194%;
	top:0%; 
	left:0%
}

.pageBlock{
	position:absolute; 
	width:50%; 
	height:50% 
}

#yblock{
	background-color:#ff6; 
	top:0%; 
	left:50%
}

#rblock{
	background-color:#f66; 
	top:0%; 
	left:0%
}

#gblock{
	background-color:#6f6; 
	top:50%; 
	left:0%
}

#bblock{
	background-color:#66f; 
	top:50%; 
	left:50%
}

.header{
	position:absolute;
	width:92%;
	height:6%;
	text-align:center;
	background-color:#222;
	color:#fff;
	font:16px courier,monospace;
	z-index:2
}

#rblock .header{
	top:2%;
	left:2%;
}

#yblock .header{
	top:2%;
	left:6%;
}

#gblock .header{
	top:4%;
	left:2%;
}

#bblock .header{
	top:4%;
	left:6%;
}

.vCentered{
	position:absolute;
	text-align:center;
	width:100%;
}

.placeSearch{
	position:absolute; 
	width:44%;
	height:6%;
	text-align:center;
	background-color:#222;
	color:#fff;
	font:16px courier,monospace;
	z-index:1
}

#nearbySearch{
	top:10%; 
	left:2%;
	line-height:100%
}

#otherSearch{
	top:10%;
	left:50%;
}

#otherSearch input{
	width:100%;
	height:100%;
	border:0px;
	padding:0px;
	margin:0px;
	background-color:#222;
	color:#fff;
	text-align:center;
	font:16px courier,monospace;
}

#searchResultsWrapper{
	position:absolute;
	width:92%;
	height:78%;
	top:18%;
	left:2%;
	background-color:#f66;
	color:#fff;
	overflow-y:hidden;
	z-index:2
}

#searchResults{
	position:absolute;
	width:98%;
	height:0%;
	padding-top:1%;
	padding-bottom:1%;
	padding-left:1%;
	padding-right:1%;
	top:0%;
	left:0%;
	background-color:#222;
	color:#fff;
	overflow-y:auto;
	z-index:2
}

.listedLocation{
	position:relative;
	width:97%;
	padding-top:1%;
	padding-bottom:1%;
	padding-left:1%;
	padding-right:1%;
	background-color:#a22;
	color:#fff;
	border:1px solid #222;	
}

.listedName{
	position:relative;
	font:12px courier,monospace;
}

.listedInfo{
	position:relative;
	font:8px courier,monospace;
}

.selectedLocation{
	background-color:#ccc;
	color:#000;
}

.locationInfoOptions{
	position:absolute;
	width:27%;
	height:40%;
	top:10%;
	left:6%;
	background-color:#222;
}

.locationInfoOptions>div{
	position:relative;
	width:98%;
	height:24%;
	background-color:#ff2;
	color:#222;
	font:14px courier,monospace;
	text-align:center;
	border:1px solid #222
}

.locationPhotoContainer{
	position:absolute;
	top:10%;
	left:36%;
	width:62%;
	height:40%;
	background-color:#222;
	overflow-y:hidden;
	text-align:center;
	border-bottom:2px solid #222
}

.locationPhotoWrapper{
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	background-color:#222;
	overflow-y:hidden;
	text-align:center;
}

.locationPhoto{
	position:absolute;
}

#locationInfoContainer{
	position:absolute;
	width:92%;
	height:44%;
	top:52%;
	left:6%;
	background-color:#222;
	color:#fff;
	overflow-x:hidden;
	z-index:2
}

.locationInfoSet{
	position:absolute;
	width:400%;
	height:100%;
	top:0%;
	left:0%;
}

.locationGeneralInfo{
	position:absolute;
	width:25%;
	height:100%;
	top:0%;
	left:0%;
	overflow-x:hidden;
	font:14px courier,monospace
}

.locationGeneralInfo a{
	color:#aaf;
	font:12px courier,monospace
}

.locationHoursInfo{
	position:absolute;
	width:25%;
	height:100%;
	top:0%;
	left:25%;
	border-left:1px solid #ff6;
	font:14px courier,monospace
}

.locationReviewInfo{
	position:absolute;
	width:25%;
	height:100%;
	top:0%;
	left:50%;
	border-left:1px solid #ff6;
	font:14px courier,monospace
}

.reviewText{
	margin-left:2em;
}

.locationData{
	position:absolute;
	width:25%;
	height:100%;
	top:0%;
	left:75%;
	border-left:1px solid #ff6;
}

#dataPlot{
	position:absolute;
	width:90%;
	height:90%;
	top:5%;
	left:5%;
	background-color:#eea;
}

#dataPlotDay{
	position:absolute;
	width:20%;
	top:2%;
	left:2%;
	background-color:#22f;
	color:#fff;
	text-align:center;
	font:16px courier,monospace;
}

.plotTagHour{
	position:absolute;
	background-color:#f22;
	width:1.5em;
	color:#fff;
	text-align:center;
	font:14px courier,monospace;
}

#tag3{
	top:92%;
	left:23%
}

#tag6{
	top:92%;
	left:47%
}

#tag9{
	top:92%;
	left:72%
}

#map{
	position:absolute;
	width:92%;
	height:85%;
	top:12%;
	left:2%;
	background-color:#222;
}

.userStatsContainer{
	position:absolute;
	width:90%;
	height:83%;
	padding-top:1%;
	padding-bottom:1%;
	padding-left:1%;
	padding-right:1%;
	top:12%;
	left:6%;
	background-color:#222;
	overflow-y:auto;
	z-index:2
}

.userStats{
	position:relative;
	width:97%;
	padding-top:1%;
	padding-bottom:1%;
	padding-left:1%;
	padding-right:1%;
	background-color:#22a;
	color:#fff;
	font:16px courier,monospace;
	border:1px solid #222;	
}

#liveVisit{
	position:absolute;
	background-color:#a2a;
	color:#fff;
	width:90%;
	height:90%;
	top:5%;
	left:5%;
	overflow-x:hidden;
	overflow-y:hidden;
	z-index:99;
	font:14px courier,monospace;
	border:2px solid #fff;
}

#visitHeader{
	position:absolute;
	width:100%;
	height:1.75em;
	top:0%;
	left:0%;
	background-color:#222;
	border-bottom:1px solid #fff;
	z-index:100;
}

#visitShowHide{
	position:absolute;
	width:1.25em;
	height:1.25em;
	top:0.25em;
	left:0.25em;
	border:1px solid #fff;
	background-color:#f6f;
}

#visitTitle{
	position:absolute;
	width:7em;
	height:100%;
	top:.4em;
	left:2.5em;
	font:14px courier,monospace;
}

#visitName{
	position:absolute;
	top:2em;
	left:.25em;
	font:12px courier,monospace;
}

#visitAddress{
	position:absolute;
	top:3em;
	left:.25em;
	font:12px courier,monospace;
}

#visitStartTime{
	position:absolute;
	top:7em;
	left:.25em;
	font:12px courier,monospace;
}

#visitEndButton{
	position:absolute;
	width:94%;
	left:3%;
	top:9.5em;
	padding-top:.3em;
	padding-bottom:.3em;
	background-color:#222;
	border:1px solid #fff;
	text-align:center;
	font:12px courier,monospace;
}

#visitEndButton span{
	font:12px courier,monospace;
}

#visitReview{
	position:absolute;
	top:12em;
	left:5%;
	width:90%;
	height:13.5em;
	border:1px solid #fff;
	background-color:#f6f;
	font:12px courier,monospace;
}

#visitReviewTitle{
	position:absolute;
	top:0em;
	left:0em;
	width:100%;
	height:1.75em;
	background-color:#222;
	border-bottom:1px solid #fff;
	font:12px courier,monospace;
}

#visitReviewTextArea{
	position:absolute;
	top:2em;
	left:3%;
	width:94%;
	height:8em;
	background-color:#222;
	color:#fff;
	font:14px courier,monospace;
	padding:0px;
	margin:0px;
	font:12px courier,monospace;
}

#visitSubmitReview{
	position:absolute;
	top:11em;
	left:3%;
	width:45%;
	background-color:#a2a;
	text-align:center;
	border:1px solid #fff;
	padding-top:.2em;
	padding-bottom:.2em;
	font:12px courier,monospace;
}

#visitSubmitReview span{
	font:12px courier,monospace;
}

#visitBump{
	position:absolute;
	top:11em;
	left:52%;
	width:45%;
	background-color:#a2a;
	text-align:center;
	border:1px solid #fff;
	padding-top:.2em;
	padding-bottom:.2em;
	font:12px courier,monospace;
}

#visitBump span{
	font:12px courier,monospace;
}

#squareLoading{
	position:absolute;
	position:absolute;
	top:30%;
	left:30%;
	width:70px;
	height:70px;
	z-index:9998;
	
}

#dashedSquare{
	stroke: white;
	stroke-linecap: round;
	stroke-width: 50;
	stroke-dasharray: 125 125;
	stroke-dashoffset: 0;
	stroke-linejoin: round;
	animation: spin 10.0s infinite linear;
	-webkit-animation: spin 10.0s infinite linear;
}

@keyframes spin {
	0% {
		stroke:red;
	}
	37.5% {
		stroke:green;
	}
	67.5% {
		stroke:blue;
	}
	100% {
		stroke-dashoffset: -5000;
		stroke:red;
	}
}

@-webkit-keyframes spin{
	0% {
		stroke:red;
	}
	37.5% {
		stroke:green;
	}
	67.5% {
		stroke:blue;
	}
	100% {
		stroke-dashoffset: -5000;
		stroke:red;
	}
}
