<!doctype html>
<html scroll="no">
  <head>
		
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
    <script src="js/lib/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>
		<script src="js/lib/underscore.js"></script>
    <script src="js/lib/jquery-ui.js"></script>
		<script src="js/lib/jquery.ui.touch-punch.min.js"></script>
    <script src="js/controllers/main.js"></script>
		
		<link rel="stylesheet" href="css/styles.css">
		
  </head>
  <body scroll="no">
		
    <div class="setWrapper">
			<div id="set">
				
				<div class="pageBlock" id="yblock">
					<div class="header">location info</div>
					<div class="ycontent, locationInfoOptions">
						<div class="nowVisiting">start visit</div>
						<div class="wantToGo">want to go</div>
						<div class="rateReview">rate/ review</div>
						<div class="seeData">see data</div>
					</div>
					<div class="ycontent, locationPhotoContainer">
						<img class="locationPhoto" src=""></img>
					</div>
					<div class="ycontent" id="locationInfoContainer"></div>
				</div>
			
      	<div class="pageBlock" id="rblock">
					<div class="header">select location</div>
        	<div class="placeSearch" id="nearbySearch">here</div>
					<div class="placeSearch" id="otherSearch"><input type="text" placeholder="address"></input></div>
					<div displayed"none" id="searchResults"></div>
      	</div>
			
     	 	<div class="pageBlock" id="gblock">
      		<div class="header">map</div>
					<div id="map"></div>
      	</div>
			
      	<div class="pageBlock" id="bblock">
					<div class="header">user info</div>
				</div>
			
			</div>
		</div>
  
	  <script type="text/template" id="listLocationTemplate">
		  <div class="listedLocation" id="listedLocation_i">
		    <div class="listedName"><%= name %></div>
				<div class="listedInfo"><%= vicinity %></div>
				<div class="listedInfo"><%= opening_hours.open_now %>, <%= price_level %>, <%= rating %></div>
		  </div>
		</script>
		
		<script type="text/template" id="locationInfoTemplate">
			<div class="locationInfoSet">
				<div class="locationGeneralInfo">
					<div class="infoName"><%= name %></div>
		  		<div><%= formatted_address %></div>
					<div><%= rating %></div>
					<div><%= appxForm.price %></div>
					<div><%= appxForm.isOpen %></div>
					<div><%= formatted_phone_number %></div>
					<div><%= website %></div>
				</div>
				<div class="locationHoursInfo">
				  <div><%= appxForm.regularHours %></div>
				</div>
				<div class="locationReviewInfo">
				</div>
			</div>
		</script>
		
		<script type="text/template" id="reviewTemplate">
			<div class="reviewAuthor"><%= author_name %></div>
			<div class="reviewText"><%= text %></div>
		</script>
		
  </body>
</html>
	