<!doctype html>
<html scroll="no">
  <head>
		
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		
    <script src="js/lib/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>
		<script src="js/lib/underscore.js"></script>
    <script src="js/lib/jquery-ui.js"></script>
		<script src="js/lib/jquery.ui.touch-punch.min.js"></script>
		<script src="js/mockData.js"></script>
    <script src="js/controllers/main.js"></script>
		
		<link rel="stylesheet" href="css/styles.css">
		
  </head>
  <body scroll="no">
		
    <div class="setWrapper">
			<div id="set">
				
				<div class="pageBlock" id="yblock">
					<div class="header"><div class="vCentered">location info</div></div>
					<div class="ycontent, locationInfoOptions">
						<div class="nowVisiting"><div class="vCentered">start visit</div></div>
						<div class="wantToGo"><div class="vCentered">want to go</div></div>
						<div class="rateReview"><div class="vCentered">rate/ review</div></div>
						<div class="seeData"><div class="vCentered">see data</div></div>
					</div>
					<div class="ycontent, locationPhotoContainer">
						<img class="locationPhoto" src=""></img>
					</div>
					<div class="ycontent" id="locationInfoContainer"></div>
				</div>
			
      	<div class="pageBlock" id="rblock">
					<div class="header"><div class="vCentered">select location</div></div>
        	<div class="placeSearch" id="nearbySearch"><div class="vCentered">here</div></div>
					<div class="placeSearch" id="otherSearch"><input type="text" placeholder="address"></input></div>
					<div id="searchResultsWrapper">
						<div displayed="none" id="searchResults"></div>
					</div>
					<div id="targetSearchResults"></div>
	    	</div>
			
     	 	<div class="pageBlock" id="gblock">
      		<div class="header"><div class="vCentered">map</div></div>
					<div id="map"></div>
      	</div>
			
      	<div class="pageBlock" id="bblock">
					<div class="header"><div class="vCentered">user statistics</div></div>
					<div class="userStatsContainer">
						<div class="userStats">
							<div class="userStatsTitle">unique places</div>
							<div class="userStatsContent" id="userUniquePlaces"></div>
						</div>
						<div class="userStats">
							<div class="userStatsTitle">total visits</div>
							<div class="userStatsContent" id="userTotalPlaces"></div>
						</div>
						<div class="userStats">
							<div class="userStatsTitle">want to visit</div>
							<div class="userStatsContent" id="userWantToVisit"></div>
						</div>
						<div class="userStats">
							<div class="userStatsTitle">most visited</div>
							<div class="userStatsContent" id="userMostVisited"></div>
						</div>
						<div class="userStats">
							<div class="userStatsTitle">total time</div>
							<div class="userStatsContent" id="userTotalTime"></div>
						</div>
						<div class="userStats">
							<div class="userStatsTitle">bumps</div>
							<div class="userStatsContent" id="userBumps"></div>
						</div>
						<div class="userStats">
							<div class="userStatsTitle">reviews</div>
							<div class="userStatsContent" id="userReviews"></div>
						</div>
						<div class="userStats">
							<div class="userStatsTitle">history</div>
							<div class="userStatsContent" id="userTotalTime"></div>
						</div>
					</div>
				</div>
			
			</div>
		</div>
  
	  <script type="text/template" id="listLocationTemplate">
		  <div class="listedLocation" id="listedLocation_i">
		    <div class="listedName"><%= name %></div>
				<div class="listedInfo"><%= vicinity %></div>
				<div class="listedInfo"><%= opening_hours.open_now %>, <%= price_level %>, <%= rating %></div>
		  </div>
		</script>
		
		<script type="text/template" id="locationInfoTemplate">
			<div class="locationInfoSet">
				<div class="locationGeneralInfo">
					<div class="infoName"><%= name %></div>
		  		<div><%= formatted_address %></div>
					<div><%= rating %></div>
					<div><%= appxForm.price %></div>
					<div><%= appxForm.isOpen %></div>
					<div><%= formatted_phone_number %></div>
					<a href="<%=website%>" target="_blank"><%= website %></a>
				</div>
				<div class="locationHoursInfo">
				  <div><%= appxForm.regularHours %></div>
				</div>
				<div class="locationReviewInfo">
				</div>
			</div>
		</script>
		
		<script type="text/template" id="reviewTemplate">
			<div class="reviewAuthor"><%= author_name %></div>
			<div class="reviewText"><%= text %></div>
		</script>
		
		<script type="text/template" id="locationPlotTemplate">
			<div class="locationData">
				<canvas width="1200" height="1000" id="dataPlot"></canvas>
				<div id="dataPlotDay"><%= day %></div>
				<div class="plotTagHour" id="tag3">3</div>
				<div class="plotTagHour" id="tag6">6</div>
				<div class="plotTagHour" id="tag9">9</div>
				</div>
		</script>
		
		<script type="text/template" id="liveVisitTemplate">
			<div opened="true" id="liveVisit">
				<div id="visitHeader">
					<div  id="visitShowHide"></div>
					<div id="visitTitle">visit</div>
				</div>
				<div id="visitName"><%= place.name %></div>
				<div id="visitAddress"><%= place.formatted_address%></div>
				<div id="visitBump">+bump</div>
				<div id="visitStartTime"><%= startTime %></div>
				<div id="visitEndButton">end visit</div>
				<div id="visitReview">
					<div>review</div>
					<textarea id="visitReviewTextArea"></textarea>
				</div>
			</div>
		</script>
		
  </body>
</html>
	